.vscode/
.idea/
.DS_Store
*.js
*.js.map
*.log.*
src/*.d.ts
src/platforms/android/*.aar
build/
!src/index.d.ts
!src/references.d.ts
!src/platforms/ios/typings/NYTPhotoViewer.d.ts
!src/platforms/ios/typings/FLAnimatedImage.d.ts
demo/*.d.ts
demo/app/*.d.ts
demo/app/*.js
!demo/references.d.ts
demo/lib
demo/platforms
node_modules
