*.map
*.ts
!photoviewer.d.ts
!platforms/ios/typings/*.ts
*.png
*.log
tsconfig.json
tslint.json
typings/
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
dist/
*.tgz